<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class='main-content'>
    {{>header}}
    <h4>Hi, I am Michael Castro, an aspiring web developer. This is a simple app that allows you to check the current
      weather of the places you search.
      This app uses HTML, CSS, JavaScript, NodeJS, Express, Geocode API and WeatherStack API.</h4>
  </div>
  {{>footer}}
</body>

</html>